<a href="https://colab.research.google.com/github/amitpoa/-Assignment_20231079/blob/main/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python: Variables

In [ ]:
#a. Use input( ) function to accept numbers from user as a value of a variable x.
x = input("Enter a number: ")

#b. Check the data type using type( ) function.
print("Check Data type of x:", type(x))

#c. Also convert the data type to integer and assign to the variable y.
y = int(x)

#d. Convert the data type into float and assign to the variable z .
z = float(x)

#e. Display the data type of x, y, and z
print("Data type of x:", type(x))
print("Data type of y:", type(y))
print("Data type of z:", type(z))

Enter a number: 5
Check Data type of x: <class 'str'>
Data type of x: <class 'str'>
Data type of y: <class 'int'>
Data type of z: <class 'float'>

# Strings in Python

In [ ]:
#a. Length of a string

text= input('Enter a text:')
len(text)

Enter a text:hello world

11

In [ ]:
#b Count the number of characters in a string.

text= input('Enter a name: ')
count= len(text.replace(" ", ""))
print ("Number of characters in the string:", count)

Enter a name: amit paul
Number of characters in the string: 8

In [ ]:
#c Remove the k'th index character from a string.

text= input("Enter a string: ")

print (text.replace("l", " ")) # when remove a specfic all chatracter  from the str

print (text.replace("l", " ",1)) # when remove a specfic chatracter  from the str

# Initializing String
#test_str = 'hello world'

# Removing char at pos 3
# using slice + concatenation
#new_str = test_str[:8] + test_str[9:]

# Printing string after removal
# removes ele. at 3rd index
#print ("The string after removal of kth character : " + new_str)

Enter a string: helloo world
he  oo wor d
he loo world

In [ ]:
#d Remove the characters which have odd index values

s='hello'
print(s[::2])

hlo

In [ ]:
#e Takes input from the user and displays that input back in upper and lower cases.

user_input = input("Enter text: ")
print("Upper case:", user_input.upper())
print("Lower case:", user_input.lower())

Enter text: amit paul
Upper case: AMIT PAUL
Lower case: amit paul

In [ ]:
#f sort a string

string = input("Enter a string: ")
sorted_string = ''.join(sorted(string))
print("Sorted string:", sorted_string)

Enter a string: amit
Sorted string: aimt

In [ ]:
#g reverse a string.

string = input("Enter a string: ")
reversed_string = string[::-1]
print("Reversed string:", reversed_string)

Enter a string: amit
Reversed string: tima

In [ ]:
#h convert a given string into a list.

string = input("Enter a string: ")
string_list = list(string)
print("List:", string_list)

Enter a string: amit
List: ['a', 'm', 'i', 't']

# Python: Lists

In [ ]:
#a Write a Python program to sum (or product) all the items in a list

lst = [3,11,5,9,6]
total = sum(lst)
print ('Sum of the list items:', total)

Sum of the list items: 34

In [ ]:
#b Write a Python program to get the largest/smallest number from a list

def get_largest(lst):
    largest = max(lst)
    return largest

def get_smallest(lst):
    smallest = min(lst)
    return smallest

my_list = [13, 8, 3 ,1 ,6 ,9, 2]
print("Largest number in the list:", get_largest(my_list))
print("Smallest number in the list:", get_smallest(my_list))

Largest number in the list: 13
Smallest number in the list: 1

In [ ]:
#c  a specified list after removing even numbers from it

def remove_even(lst):
    odd_numbers = [num for num in lst if num % 2 != 0]
    return odd_numbers

my_list = [1, 2, 3, 4, 5]
result = remove_even(my_list)
print("Numbers after removing even numbers:", result)

Numbers after removing even numbers: [1, 3, 5]

In [ ]:
#d select the odd number of a list


def select_odd(lst):
    odd_numbers = [num for num in lst if num % 2 != 0]
    return odd_numbers

my_list = [1, 2, 3, 4, 5, 6]
result = select_odd(my_list)
print("Odd numbers in the list:", result)

Odd numbers in the list: [1, 3, 5]

In [ ]:
#e convert a list of characters into a string

lst = ['a','m','i','t']
string = ''.join(lst)
print(string)

amit

In [ ]:
#f find the index of an item in a specified list

my_list = [1,2,3,4,5,6]
print (my_list.index(5))

4

In [ ]:
#g add a list to the second list

list1 = [1,2,3,4,5]
list2 = [6,7,8]
list1.extend(list2 )
print (list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#h get unique values from a list and count unique values inside a list


def get_unique(lst):
    unique_values = list(set(lst))
    return unique_values

def count_unique(lst):
    unique_count = len(set(lst))
    return unique_count

my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
unique_values = get_unique(my_list)
unique_count = count_unique(my_list)
print("Unique values in the list:", unique_values)
print("Count of unique values:", unique_count)

Unique values in the list: [1, 2, 3, 4]
Count of unique values: 4

# Python : Dictionary

In [ ]:
#a Create a dictionary named fruit
fruit = {
    'names': ['Mango', 'Lemon'],
    'color': ['yellow', 'green'],
    'taste': ['sweet', 'sour']
}

# Display the dictionary
print("Dictionary:", fruit)

# Add a new value, Apple, to the names key
fruit['names'].append('Apple')


# Display the updated dictionary
print("Updated Dictionary:", fruit)

Dictionary: {'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
Updated Dictionary: {'names': ['Mango', 'Lemon', 'Apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}

In [ ]:
#b add a key to a dictionary

my_dict = {'name': 'X', 'age': 25}
my_dict['gender'] = 'Male'
print("Updated Dictionary:", my_dict)

Updated Dictionary: {'name': 'X', 'age': 25, 'gender': 'Male'}

In [ ]:
#c check whether a given key already exists in a dictionary.

my_dict = {'name': 'X', 'age': 25}

key = 'name'
if key in my_dict:
    print(key, "exists in the dictionary.")
else:
    print(key, "does not exist in the dictionary.")

name exists in the dictionary.

In [ ]:
#d Access dictionary key’s element by index.

my_dict = {'name': 'X', 'age': 25}
keys_list = list(my_dict)
key = keys_list[1]
print(key)

age

In [ ]:
#e. Write a Python program to iterate over dictionaries using for loops

my_dict = {'name': 'John', 'age': 25}

print("Keys and Values:")
for key, value in my_dict.items():
    print(key, ":", value)

Keys and Values:
name : John
age : 25

In [ ]:
#f. dictionary where the keys are numbers between 1 and n (both included) and the values are square of keys 

d=dict()
for x in range(1,5+1):
    d[x]=x**2
print('Square dictionary: ', d)

Square dictionary:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#g Create a dictionary by extracting the keys from a given dictionary

my_dict = {'name': 'X', 'age': 25}

new_dict = dict.fromkeys(my_dict.keys())
print("New Dictionary:", new_dict)

New Dictionary: {'name': None, 'age': None}

In [ ]:
#h. Rename key of a dictionary

my_dict = {'name': 'X', 'age': 25}

my_dict['fist_name'] = my_dict.pop('name')
print("Updated Dictionary:", my_dict)

Updated Dictionary: {'age': 25, 'fist_name': 'X'}

In [ ]:
#i.print only keys of a dictionary

my_dict = {'name': 'X', 'age': 25}
print (my_dict.keys())

dict_keys(['name', 'age'])

In [ ]:
#j. print values of dictionary

my_dict = {'name': 'X', 'age': 25}
print (my_dict.values())

dict_values(['X', 25])

# Python: Loops

In [ ]:
#a. Print First 10 natural numbers using while loop

n =1

while n<=10:
    print (n)
    n = n+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#b.  Print the multiplication table of a given number

num = int(input('Enter a number: '))
for i in range(1,11):
    print(num, '*', i, "=",num * i)

Enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#c. Display numbers from a list using loop

numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [ ]:
#d. Print list in reverse order using a loop

my_list = [1, 2, 3, 4, 5]
for i in range(len(my_list) - 1, -1, -1):
    print(my_list[i])

5
4
3
2
1

In [ ]:
#e. Display numbers from -10 to -1 using for loop

for num in range(-10, 0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#f. Find the factorial of a given number

num = int(input())
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial of", num, "is", factorial)

6
Factorial of 6 is 720

In [ ]:
#g. Use a loop to display elements from a given list present at odd index positions

my_list = ['a', 'b', 'c', 'd', 'e', 'f']
for i in range(1, len(my_list), 2):
    print(my_list[i])

b
d
f

In [ ]:
#h. cube of all numbers from 1 to a given number

num = int(input())
for i in range(1, num + 1):
    cube = i ** 3
    print("Cube of", i, "is", cube)

4
Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64